<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- CSS Styling -->
<style type="text/css">

/* Legend Font Style */
body {
	font: 11px sans-serif;
	background-color: #ffffff;
}

/* Legend Position Style */
.legend {
	position:absolute;
	left:20px;
	top:30px;
}

.axis text {
	font: 10px sans-serif;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

</style>
</head>
<body>

	<div class="choromap"></div>

<script type="text/javascript" src="./static/js/chorologic.js"></script>

</body>
</html>
